@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #F2F3EB;
}

#error_message{
    padding-bottom: 20px;
}

#container-form {
    position: relative;
    max-width: 768px;
    margin: 60px auto;
    border: solid 3px #474544;
    padding: 1% 3%;
}

#title {
    text-align: center;
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
}

#name, #bairro{
    float: left;
    width: 50%;
    margin-right: 5%;
}

#phone, #cidade, #uf {
    display: block;
    width: 45%;
}

#email, #password, #password_2, #rua, #cep {
    display: block;
    width: 100%;
}

input {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
}

input:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

#submit {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#submit:hover {
    background: #474544;
    color: #F2F3EB;
}